.infoTop {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.infoTitle {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.infoText {
  color: #ffffff;
  font-size: 10px;
  margin-bottom: 2px;
}

.infoBot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.reactPlayer > video {
  pointer-events: none;
  object-fit: fill;
}

.coverBox {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 144px;
  height: 256px;
  opacity: 1;
}

.cardWrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5%;
  width: 144px;
  height: 256px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}

.blankBox {
  flex: 3;
}

.infoBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.progressDiv {
  background-color: #ffffff;
  border: solid 1px #808080;
  border-radius: 0.5rem;
}

.progress {
  /* background-color: rgba(41, 47, 51, 0.68); */
  background-color: #ffd046;
  height: 8px;
  border-right: solid 1px #808080;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  transition: 1s ease;
  transition-delay: 0.5s;
}

.progressEnd {
  /* background-color: rgba(41, 47, 51, 0.68); */
  background-color: #808080;
  height: 8px;
  border-right: solid 1px #808080;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  transition: 1s ease;
  transition-delay: 0.5s;
}
