.topBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 15px;
  justify-content: space-between;
}

.sideBox {
  flex: 1;
  padding-left: 10px;
}
.rightBox {
  flex: 1;
  padding-right: 10px;
}
.pageTitle {
  display: block;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  max-width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pageWhiteTitle {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  flex: 6;
  color: #ffffff;
}
