.topBox {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.sideBox {
  flex: 1;
  padding-left: 10px;
}
.rightBox {
  flex: 1;
  padding-right: 10px;
}
.pageTitle {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  flex: 6;
  color: #ffffff;
}

.pageWhiteTitle {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  flex: 6;
  color: #ffffff;
}
