.logo {
  margin-left: 15px;
  font-size: 24px;
  margin-bottom: 10px;
}

.plusStar {
  position: relative;
  background-color: #d9d9d9;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-right: 10px;
}

.plusStarBox {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.plusStarText {
  position: absolute;
  color: #ffffff;
  font-size: 30px;
}

.img {
  width: 100%;
  object-fit: cover;
}
