.topBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: space-between;
}

.back {
  height: 25px;
  width: 25px;
  color: black;
}
.pageTitle {
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

.setting {
  height: 25px;
  width: 25px;
  color: grey;
}

.profileBox {
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.userImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  justify-items: center;
}

.userName {
  font-weight: bold;
  margin-top: 10px;
}

.myWallet {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffc947;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.myTitle {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.hScroll {
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 10px;
}

.hScroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.starList {
  display: flex;
  flex-direction: row;
}

.profileImgName {
  margin-left: 10px;
  margin-right: 10px;
}

.starImg {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
}

.starName {
  text-align: center;
  font-size: small;
}

.logo {
  font-size: 24px;
  margin-bottom: 10px;
}

.hScroll {
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 10px;
}

.hScroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.plusStar {
  position: relative;
  background-color: #d9d9d9;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-right: 10px;
}

.plusStarBox {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.plusStarText {
  position: absolute;
  color: #ffffff;
  font-size: 30px;
}
.category {
  font-family: 'SCD500';
  font-size: 20px;
  margin-bottom: 10px;
}

.challengeContainer {
  overflow: auto;
  white-space: nowrap;
}

.img {
  width: 100%;
  object-fit: cover;
}

.coverBox {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 144px;
  height: 256px;
  opacity: 1;
}
.blankBox {
  flex: 3;
}
.infoBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.cardWrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5%;
  width: 144px;
  height: 256px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}
.reactPlayer {
  pointer-events: none;
}

.infoTop {
  display: flex;
  flex-direction: column;
}
.infoBot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.infoText {
  color: #ffffff;
  font-size: 10px;
  margin-bottom: 2px;
}

.progressDiv {
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.progress {
  background-color: rgba(41, 47, 51, 0.68);
  height: 15px;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  transition: 1s ease;
  transition-delay: 0.5s;
}
