.challengeContainer {
  overflow: auto;
  white-space: nowrap;
}

.img {
  width: 100%;
  object-fit: cover;
}

.coverBox {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}
.blankBox {
  flex: 3;
}
.infoBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 25px;
}
.cardWrapper {
  width: 100vw;
  height: 100vh;
}
.reactPlayer {
  pointer-events: none;
}

.infoTop {
  display: flex;
  flex-direction: column;
}
.infoBot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoTitle {
  color: #ffffff;
  justify-content: start;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
}
.infoText {
  color: #ffffff;
  font-size: 15px;
  justify-content: space-around;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.progressDiv {
  justify-self: center;
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0.5rem;
}
.progress {
  justify-self: center;
  background-color: rgba(41, 47, 51, 0.68);
  height: 30px;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  transition: 1s ease;
  transition-delay: 0.5s;
}

.iconBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 15px;
  margin-bottom: 30px;
}

.clickIcon {
  height: 35px;
  width: 35px;
  margin-top: 10px;
  color: black;
}

.likeIcon {
  height: 35px;
  width: 35px;
  margin-top: 10px;
  color: red;
}

.iconCount {
  padding-left: 10px;
  font-size: small;
}

.toast_container {
  position: relative;
  z-index: 99;

  transform: translate(-50%, -50%);
  width: 24rem;
  height: 2.625rem;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 var(--black-40);
  background-color: #323232;
}

.toast_text {
  font-weight: bold;
  letter-spacing: 0.29px;
  text-align: center;
  margin-top: 0.6rem;
}
