.topContainer {
  display: flex;
  align-items: center;
}
.starContainer {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchBox {
  border-radius: 5px;
  padding-left: 10px;
  width: 90%;
  height: 25px;
  border-width: 0;
  background-color: #d9d9d9;
}
.searchBox:focus {
  outline: 0;
}
.searchContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8%;
}
.starImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
}
