.topContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.starContainer {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.searchBox {
  border-radius: 5px;
  padding-left: 10px;
  width: 100%;
  height: 30px;
  border-width: 0;
  background-color: #d9d9d9;
}

.searchBox:focus {
  outline: 0;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8%;
  margin-left: 10px;
  margin-right: 10px;
}
