#listWrapper {
  display: flex;
  padding: 15px 0px;
  border-bottom: solid 1px #d2d2d2;
  justify-content: space-evenly;
}

#coverWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.recordBtn {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: 70px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  outline-style: solid;
  outline-width: 5px;
  outline-color: white;
  background-color: red;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  opacity: 0.8;
}

.leftWrapper {
  display: flex;
  justify-content: flex-start;
  flex: 11;
  margin-left: 10px;
}

.leftWrapper:hover,
.leftWrapper:focus,
.leftWrapper:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

#listWrapper:hover,
#listWrapper:focus,
#listWrapper:active {
  background-color: rgba(209, 209, 209, 0.108);
}

.midWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.topText {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.botText {
  display: flex;
  margin-top: 5px;
  font-size: smaller;
}

.rightWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-right: 10px;
}

/* 
.play {
  width: 0px;
  height: 0px;
  border-left: 24px solid #666666;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  transition: 0.5s;
}

.pause {
  width: 24px;
  height: 24px;
  background-color: #666666;
  transition: 0.5s;
} */

.topContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.searchBox {
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  height: 30px;
  border-width: 0;
  background-color: #d9d9d9;
}

.playBtn {
  font-size: 30px;
}
