.coverImg {
  height: 150px;
  background-image: url(https://cdn.pixabay.com/photo/2015/01/27/19/34/giraffe-614141_960_720.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.starProfileImg {
  position: absolute;
  left: 15px;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.starImgMain {
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.starImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
  margin-right: 10px;
}

.writerWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
}

.topWrapper {
  position: relative;
  height: 200px;
}
.topTitle {
  display: flex;
}
.starName {
  display: inline-block;
  font-family: 'SCD600';
  margin-left: 15px;
  width: 100px;
  text-align: center;
}
.btnWrapper {
  margin: 35px 15px 20px 15px;
}
.subBtn {
  background-color: #ffc947;
  width: 100px;
  height: 30px;
  font-family: 'SCD800';
  color: #7e370c;
  border-radius: 10%;
}
.subBtn:active {
  background-color: #cd9105;
  transition: 0.3s;
}

.unSubBtn {
  background-color: #c9c9c9;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4.5px;
  border: 0;
  font-family: 'SCD800';
  color: #000000;
  border-radius: 10%;
}
.unSubBtn:active {
  background-color: #c9c9c9;
  transition: 0.3s;
}

.contentBox {
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: flex-end;
}

.sortTab {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  gap: 8px;
  margin-right: 15px;
}

.communityItem {
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
  margin-right: 16px;
  width: calc(100vw - 60px);
  height: 450px;
  overflow: hidden;
  scroll-snap-align: center;
}

.communityImg {
  width: 100%;
  object-fit: cover;
  margin-top: 10px;
}

.hScroll {
  padding-left: 15px;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 10px;
}

.hScroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.writeDate {
  color: #808080;
  font-size: 12px;
}
