/* 기본 모양 */
.ellipsis {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 540px 이상 */
@media (min-width: 540px) {
  .ellipsis {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

기본 모양 .ellipsis2 {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 540px 이상 */
@media (min-width: 540px) {
  .ellipsis2 {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table_header {
  height: 40px;
  vertical-align: middle;
  font-size: 14px;
  background-color: #ffd046;
  border-radius: 8px;
}

.row {
  /* height: 40px; */
  text-align: center;
  font-size: smaller;
}

.pagination {
  display: 'flex';
  justify-content: 'center';
}

.topBox {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.back {
  height: 25px;
  width: 25px;
  color: black;
}

.pageTitle {
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

td {
  border-bottom: 1px solid #f1f1f1;
}

.fromtoBox {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.fromto {
  border: 2px solid #c9c9c9;
  border-radius: 8px;
  padding: 2px;
  width: 30px;
  color: #c9c9c9;
  text-align: center;
}

.fromtoContent {
  margin-left: 5px;
}
